sudo: required
language: generic
services:
    - docker

before_install:
    - docker build -t jussik200/docker-react -f Dockerfile.dev .

script:
    - docker run jussik200/docker-react npm run test -- --coverage